{erl_opts, [
    debug_info,
    {platform_define, "^[0-9]+", namespaced_types}
]}.
{deps, [
    {poolboy, {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
    {eredis, {git, "https://github.com/Nordix/eredis.git", {branch, "master"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [eredis_poolboy]}
]}.
